.names{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 17vw;
}

.name-input{
    font-size: 20px;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 5px 0;
}

@media screen and (max-width: 480px) {
    .names{
        width: auto;
    }
}