.container{
    margin: 20px auto 0 auto;
    width: 70vw;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.button{
    margin: 20px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    padding: 15px 25px;
    cursor: pointer;
    transition: 0.3s;
}

.next-button{
    background-color: #048ABF;
    color: white;
    z-index: 1;
}

.next-button:hover{
    background-color: #1E5359;
    transform: scale(1.1);
}

.previous-button{
    background-color: aliceblue;
    color: black;
}

.previous-button:hover{
    background-color: grey;
    transform: scale(1.1);
}

.submit-button{
    background-color: darkblue;
    color: white;
}

.submit-button:hover{
    background-color: blue;
    transform: scale(1.1);
}