h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 300;
}

.business-options{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    width: 70vw;
    margin: 30px auto;
}

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 8vw;
    align-items: center;
    border: 2px solid #1E5359;
    border-radius: 10px;
    background-color: beige;
    padding: 30px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.1);
    background-color: lightgray;
    border-color: #8C2B2B;
}

.card.selected {
    background-color: #F2EC99; /* Apply the selected background color */
}

.card-icon{
    height: 100px;
    transform: scale(4);
}

@media screen and (max-width: 480px){
    .card{
        width: 150px;
        margin: 20px 0;
    }
}